apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
  namespace: nginx
spec:
   replicas: 3
   selector:
     matchLabels:
       app: test
   strategy:
     type: RollingUpdate
   template:
     metadata:
       labels:
         app: test
     spec:
       containers:
         - name: nginx-cont
           image: nginx
           ports:
             - containerPort: 80
